.picture img {
  display: block;
  width: 100%;
}

.is-rounded img {
  border-radius: var(--border-radius-full);
}

.with-border img {
  border: var(--border-width-thin) solid var(--color-gray-400);
}
