.button {
  align-items: center;
  border: var(--border-width-thin) solid var(--color-transparent);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--box-shadow-sm);
  cursor: pointer;
  display: inline-flex;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  height: 45px;
  justify-content: center;
  min-width: max-content;
  padding: 10px 20px;
  transition: filter 0.5s ease, box-shadow 0.2s ease;
  width: 100%;
}

.button:focus {
  box-shadow: 0 0 0 1px var(--color-primary), 0 0 10px 0 var(--color-primary);
  outline: none;
}

.button:hover {
  filter: brightness(1.1);
}

.button:active {
  filter: brightness(0.9);
}

.type-primary {
  background: var(--color-primary);
  color: var(--color-primary-inverted);
}

.type-primary:focus {
  box-shadow: 0 0 0 1px var(--color-primary-inverted),
    0 0 10px 0 var(--color-primary);
}

.type-secondary {
  background: var(--color-transparent);
  border: var(--border-width-thin) solid var(--color-brand-medium-purple);
  color: var(--color-brand-medium-purple);
}

.type-tertiary {
  background: var(--color-transparent);
  border-bottom: 1px solid var(--color-primary);
  border-radius: var(--border-radius-none);
  box-shadow: var(--shadows-none);
  color: var(--color-primary);
  height: 25px;
  padding: 0;
}

.type-tertiary:focus {
  box-shadow: 0 10px 10px -8px var(--color-primary);
}

.button.is-inline {
  max-width: max-content;
}
