.check {
  display: inline-flex;
  width: 100%;
  max-width: 17px;
  height: 17px;
  box-sizing: content-box;
  border: var(--picture-border);
  margin: 8px;
  border-radius: var(--border-radius-full);
  cursor: pointer;
}
