.card {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-transparent);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--box-shadow-sm);
  padding: 6px 12px;
  color: var(--color-font-base);
  width: 100%;
}

.size-sm {
  height: 45px;
}

.size-md {
  height: 80px;
}

.size-lg {
  height: 115px;
}

.color-primary {
  background: var(--color-primary);
  color: var(--color-white);
}

.color-secondary {
  background: var(--color-secondary);
  color: var(--color-white);
}

.color-default {
  background: var(--color-white);
  border: 1px solid var(--color-gray-300);
}
