.card {
  align-items: center;
  border: var(--border-width-thin) solid var(--color-transparent);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--box-shadow-sm);
  color: var(--color-font-base);
  display: flex;
  padding: 12px 10px;
  width: 100%;
}

.size-sm {
  min-height: 45px;
}

.size-md {
  min-height: 80px;
}

.size-lg {
  min-height: 115px;
}

.color-primary {
  background: var(--color-primary);
  color: var(--color-primary-inverted);
}

.color-secondary {
  background: var(--color-secondary);
  color: var(--color-secondary-inverted);
}

.color-default {
  background: var(--color-primary-inverted);
  border: var(--border-width-thin) solid var(--color-gray-300);
}
