.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown :global(.icon) {
  pointer-events: none;
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
}

.dropdown-select {
  border: var(--border-width-thin) solid var(--color-primary);
  border-radius: var(--border-radius-lg);
  color: var(--color-font-base);
  height: var(--input-height);
  padding: 10px 30px 10px 20px;
  transition: box-shadow 0.2s ease;
  width: 100%;
}

.dropdown-select:focus {
  box-shadow: 0 0 0 1px var(--color-primary), 0 0 10px 0 var(--color-primary);
  outline: none;
}
