.backdrop {
  position: fixed;
  z-index: var(--z-index-50);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeInModal 0.2s ease-in forwards;
  background: var(--modal-backdrop-color);
  inset: 0;
}

.backdrop.on-fade-out {
  animation: fadeOutModal 0.2s ease-in forwards;
}

.modal {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 16px 32px;
  animation: fadeInModal 0.4s ease-in forwards;
  opacity: 0;
}

.backdrop.on-fade-out .modal {
  animation: fadeOutModal 0.4s ease-in forwards;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.is-playground {
  position: relative;
  width: calc(50% - 15px);
  border: var(--border-width-thick) dashed var(--color-primary);
}

.type-primary {
  background-color: var(--color-primary);
}

.type-secondary {
  background-color: var(--background-color-primary);
}

@media (min-width: 992px) {
  .modal {
    max-width: var(--modal-desktop-max-width);
    height: var(--modal-desktop-height);
    border-radius: var(--border-radius-sm);
  }

  .heading {
    flex-direction: row-reverse;
  }
}

@keyframes fadeInModal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOutModal {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
