.input {
  border: var(--border-width-thin) solid var(--color-primary);
  border-radius: var(--border-radius-lg);
  color: var(--color-font-base);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  height: var(--input-height);
  line-height: var(--line-height-tight);
  padding: 12px 17px;
  transition: box-shadow 0.2s ease;
  width: 100%;
}

.input::placeholder {
  color: var(--color-font-highlight);
}

.input:focus {
  box-shadow: 0 0 0 1px var(--color-primary), 0 0 10px 0 var(--color-primary);
  outline: none;
}
