.input {
  width: 100%;
  height: var(--input-height);
  padding: 12px 17px;
  border: var(--border-width-thin) solid var(--color-primary);
  border-radius: var(--border-radius-lg);
  color: var(--color-font-base);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-tight);
  transition: box-shadow 0.2s ease;
}

.input::placeholder {
  color: var(--color-font-highlight);
}

.input:focus {
  box-shadow: 0 0 0 1px var(--color-primary), 0 0 10px 0 var(--color-primary);
  outline: none;
}

.is-inline {
  max-width: max-content;
}
