.centered-content {
  align-items: stretch;
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: center;
}

.is-visible {
  border: var(--border-width-thick) dashed var(--color-primary);
}
