.container {
  display: flex;
  width: 100%;
  max-width: var(--container-max-width);
  height: 100%;
  flex: auto;
  justify-content: center;
  padding: 20px 15px 20px;
  margin: 0 auto;
}

.is-playground {
  border: var(--border-width-thick) dashed var(--color-primary);
}
