.container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
}

.description {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.label {
  font-family: var(--font-family-mono);
  font-size: var(--font-size-md);
  color: var(--color-gray-700);
  border: 1px solid var(--color-gray-500);
  background-color: var(--color-gray-200);
  border-radius: var(--border-radius-sm);
  padding: 4px 8px;
}

.color {
  border: 1px solid var(--color-gray-500);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--box-shadow-sm);
  height: 65px;
  width: 65px;
}
