.error {
  display: flex;
  padding: 10px 20px;
  border-top: 4px solid var(--color-red-500);
  background: var(--color-red-200);
  color: var(--color-red-800);
}

.error :global(.icon-warning) {
  margin-top: -4px;
}
