.full-height-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.footer {
  text-align: center;
}
